---
title: Welcome to Middleman
---

<div class="welcome">
	<% data.experiment.header.each do |id, header| %>
		<h1><%= header.pageHeading %></h1>
	<% end %>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->